.small {
    font-size: 15px;
}
.large-height {
    height: 80px;
}

.card-404 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: .25rem;
}

.card-404 .card-header {
    background-color: #fff;
    border-bottom: none;
}
.video-player {
    width: 150px;
    height: 100px;
}

.badge {
    font-size: 25px;
    font-weight: 200
}

.badge i {
    font-size: 20px;
    font-weight: 200
}

.about-rating {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px
}

.total-ratings {
    font-size: 12px
}

.bg-custom {
    background-color: #b7dd29 !important
}

.progress {
    margin-top: 10px
}

.rating_sec {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}

.rating_sec label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating_sec label:last-child {
    position: static;
}

.rating_sec label:nth-child(1) {
    z-index: 5;
}

.rating_sec label:nth-child(2) {
    z-index: 4;
}

.rating_sec label:nth-child(3) {
    z-index: 3;
}

.rating_sec label:nth-child(4) {
    z-index: 2;
}

.rating_sec label:nth-child(5) {
    z-index: 1;
}

.rating_sec label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating_sec label .icon {
    float: left;
    color: transparent;
}

.rating_sec label:last-child .icon {
    color: #000;
}

.rating_sec:not(:hover) label input:checked ~ .icon,
.rating_sec:hover label:hover input ~ .icon {
    color: #09f;
}

.rating_sec label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
}
