
{% extends 'base.html' %}
{% load static%}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">

        <div class="row ms-5">
            {% for genre in genres %}
                <div class="col-md-4 my-2">
                    <a href="{% url 'movie_list' genre=genre %}">
                        <img class="pri_image" title="{{ genre }}" alt="{{ genre }}" src="{% static 'images/'%}{{  genre|cut:" "|lower }}.jpg">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}