{% extends 'base.html' %}
{% block title %}Movie Details {% endblock %}
{% block content %}
    <div class="container">
        <div class="row mx-auto">
            <iframe class="my-2" width="900" height="500" src="https://www.youtube.com/embed/{{ movie.video }}"
                    allowfullscreen></iframe>
        </div>
        <div class="row">
            <div class=" col-md-6 m-0">
                {% for genre in genres %}
                    <a class="btn btn-outline-light btn-floating m-1 bg-dark rounded-3"
                       href="{% url 'movie_list' genre=genre %}" role="button">
                        {{ genre }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="container mt-5">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4 border-right">
                        <div class="ratings text-center p-4 py-5"><span class="badge bg-success">{{ movie_rating }} <i
                                class="fa fa-star"></i></span>
                            {#                            <span class="d-block about-rating">VERY GOOD</span>#}
                            <span class="d-block total-ratings">{{ movie_rating_count }} ratings</span></div>
                    </div>
                    <div class="col-md-8">
                        <div class="rating-progress-bars p-3">
                            <div class="progress-1 align-items-center">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ rating_five }}%;"
                                         aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"> {{ rating_five }}%
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-custom" role="progressbar" style="width: {{ rating_four }}%;"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ rating_four }}%
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ rating_three }}%;"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ rating_three }}%
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ rating_two }}%;"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ rating_two }}%
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ rating_one }}%;"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ rating_one }}%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div>
            <div class="rating_sec">
                <label>
                    <input onclick="rating_change(1)" type="radio" name="stars" value="1"
                           {% if rating == 1 %}checked{% endif %}/>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input onclick="rating_change(2)" type="radio" name="stars" value="2"
                           {% if rating == 2 %}checked{% endif %}/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input onclick="rating_change(3)" type="radio" name="stars" value="3"
                           {% if rating == 3 %}checked{% endif %}/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input onclick="rating_change(4)" type="radio" name="stars" value="4"
                           {% if rating == 4 %}checked{% endif %}/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input onclick="rating_change(5)" type="radio" name="stars" value="5"
                           {% if rating == 5 %}checked{% endif %}/>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
            </div>
        </div>

        <div class="row d-flex my-3 mx-3 justify-content-center">
            {% if movie.review_set.all %}
                {% for review in movie.review_set.all %}
                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center">
                                {% if review.user.profile_picture %}
                                    <img src="{{  review.user.profile_picture.url }}" width="30" class="user-img rounded-circle mr-2">
                                {% endif %}
                                <h5 class="font-weight-bold text-primary ms-2">{{ review.user.first_name }}</h5>
                                <div class="ms-2">{{ review.description }}</div>
                            </div>
                            <small>{{ review.review_date }}</small>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="row my-5">
            <form action="{% url 'add_review' %}" method="post" class="form-group">
                {% csrf_token %}
                <input type="hidden" name="movie_id" value="{{  movie.id }}"/>
                <div class="mb-3">
                                <textarea class="form-control p-0" name="review" type="text" id="Form_Search" placeholder="Give your thoughts about the movie here">
                                </textarea>
                </div>
                <input type="submit" id="review" class="btn btn-primary m-0" value="Comment"/>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        function rating_change(rating_val) {
            console.log(rating_val)
            var xmlhttp = new XMLHttpRequest();

            xmlhttp.open("POST", "{% url 'submit_rating' %}", true);
            xmlhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xmlhttp.send("rating=" + rating_val + '&movie_id={{ movie.id }}');
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
                    if (xmlhttp.status == 200) {
                        console.log('rating success')
                    } else if (xmlhttp.status == 400) {
                        console.log('rating failed')
                    } else {
                        console.log('rating failed')
                    }
                }
            };


        }
    </script>>
{% endblock %}