{% load static %}
<header>
    <div class="bg-img {% if page %} bg-img-size {% endif %}">

        <nav class="navbar navbar-expand-lg nav-fill">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="toggle-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'genres' %}">Genres</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown margin-top">
                            <a class="text-decoration-none text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                Movies
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'by_rating' %}">Top 10</a></li>
                                <li><a class="dropdown-item" href="{% url 'old_movies' %}">Old Movies</a></li>
                                <li><a class="dropdown-item" href="{% url 'most_recent' %}">Most Recent</a></li>
                            </ul>
                        </div>
                    </li>

                    {% if not page %}
                        <li class="nav-item ms-5">
                            <div class="bbootstrap mt-3">
                                <form action="{% url 'search' %}" method="get" class="w-100">
                                    {% csrf_token %}
                                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                    <input name="s_query" type="text" id="Form_Search" value="" placeholder="Search here" role="searchbox" class="b-InputBox" autocomplete="off"/>
                                    <input type="submit" id="Form_Go" class="small-Button" value="GO"/>
                                </form>
                            </div>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <div class="dropdown margin-top">
                                <a class="text-decoration-none text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ user.first_name }}
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="{% url 'edit_user' user_id=user.id%}">My profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'show_playlist' %}">My Playlist</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>

                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% if page %}
            <div class="bbbootstrap">
                <form action="{% url 'search' %}" method="get" >
                    {% csrf_token %}
                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                    <input name="s_query" type="text" id="Form_Search" value="" placeholder="Search for your best result in our community" role="searchbox" class="InputBox " autocomplete="off"/>
                    <input type="submit" id="Form_Go" class="Button" value="GO"/>
                </form>
            </div>
        {% endif %}
    </div>
</header>
