{% extends 'base.html' %}

{% block title %}Update Password{% endblock %}

{% block content %}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="col-md-9">
            <div class="mb-4 mx-auto ">
                <form action="{% url 'forgot_password' %}" method="post" class="form-control form group">
                    {% csrf_token %}
                    <div class="row ms-2">
                        <label for="email">Email</label>
                        <input id="email" class="w-25"  type=email required name=email>
                    </div>

                    <div class="row w-25 mt-3 ms-2">
                        <input type="submit" value="Submit" class="btn btn-primary w-50">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}