{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-6 mx-auto mb-4">
            <h2 class="ms-3">Log In</h2>
            <form method="post" class="form-control form group">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="row mx-auto w-25">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <div class="mt-2">Don't have account yet?<a href="{% url 'register' %}" >Register Here</a></div>
            <div class="mt-2"><a href="{% url 'forgot_password' %}" >Forgot Password?</a></div>
        </div>

    </div>
{% endblock %}