{% extends 'base.html' %}

{% block title %}Update Password{% endblock %}

{% block content %}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="col-md-9">
            <div class="mb-4 mx-auto ">
                <form action="{% url 'change_password' %}" method="post" class="form-control form group">
                    {% csrf_token %}
                    <div class="row">
                        <label for="password1">Password:</label>
                        <input id="password1" class="w-50"  type=password required name=password1>
                    </div>
                    <div class="row">
                        <label for="password2">Confirm password:</label>
                        <input id="password2" class="w-50" type=password name=password2>
                    </div>
                    <div class="row w-25 mt-3">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}